<!-- Loading Text -->
<div *ngIf="isLoading" class="loading-pane">
    <div class="loading-text">
        <span>Loading...</span>
    </div>
</div>

<!-- Content -->
<div class="content-pane">
    <!-- Logo -->
    <a class="logo" href="https://namitoyokota.com">
        <img src="https://api.namitoyokota.com/assets/logos/white.svg" alt="Logo" />
    </a>

    <!-- Header -->
    <div class="header">
        <span>Namito Yokota</span>
        <span>Huntsville, AL</span>
        <a href="mailto:namitoyokota@icloud.com">namitoyokota@icloud.com</a>
    </div>

    <!-- Images -->
    <div class="photo-list">
        <a *ngFor="let image of images" [href]="image.fullImageUrl" target="_blank">
            <img [defaultImage]="image.blurredImageUrl" [lazyLoad]="image.fullImageUrl" [useSrcset]="true" [alt]="image.alt" />
        </a>
    </div>

    <!-- Footer -->
    <p>&#169; Namito Yokota</p>
</div>
