<!-- Header -->
<div class="header">
    <a class="logo" href="https://namitoyokota.com">
        <img src="https://www.namitoyokota.com/logos/white.svg" />
    </a>
    <a href="mailto:namitoyokota@icloud.com">namitoyokota@icloud.com</a>
</div>

<!-- Images -->
<div class="photo-list">
    <a *ngFor="let photo of photoFileNames | keyvalue : descOrder" [href]="defaultFilePath + photo.key + extension" target="_blank">
        <img
            [defaultImage]="compressedFilePath + photo.key + extension"
            [lazyLoad]="defaultFilePath + photo.key + extension"
            [useSrcset]="true"
            [alt]="photo.value"
        />
    </a>
</div>

<!-- Footer -->
<p>&#169; Namito Yokota</p>
