:host {
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .logo {
        height: 50px;
        width: 50px;
    }
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

/** Phones */
@media only screen and (max-width: 600px) {
    .photo-list {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}

/** Large Phones */
@media only screen and (min-width: 600px) {
    .photo-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}

/** Tablets */
@media only screen and (min-width: 768px) {
    .photo-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}

/** Laptops */
@media only screen and (min-width: 992px) {
    .photo-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}

/** Desktops */
@media only screen and (min-width: 1200px) {
    .photo-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}

a {
    color: white;
}

img {
    height: auto;
    width: 100%;
}
